* {
    font-family: Sarabun, Arial, sans-serif;
}

.title a {
    color: #ff6314;
}


body {
    text-align: center;
    font-size: 1rem;
    margin: 30px;
    background-color: #161618ff;
    color: #ebebec;
}

textarea {
    width: 90%;
    height: 16em;
    resize: vertical;
}

button {
    background-color: #ff6314;
    border: 2px solid #ff6314;
    border-radius: 32px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: white;
    color: #ff6314;
    border: 2px solid #ff6314;
    cursor: pointer;
}

.section {
    margin-bottom: 40px;
}